/* Columns section */
#columns .column {
    float: left;
    width: 33.33%;
    margin-left: 0;
    min-height:100px;
    list-style: none
}

#columns ul.column{
    padding:0;
    margin:0;
}
#columns .widget {
    margin: 0px 11px 11px 11px;
    padding: 0;
    border: 1px solid #c0c0c0;

}
#columns li.widget {
    list-style:none;
}
#columns .widget .widget-head {
    color: #000;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}
#columns .widget .widget-head h3 {
    float: left;
    padding: 0;
    margin: 5px 0 0 0;
}
#columns .widget .widget-content h1,
#columns .widget .widget-content h2,
#columns .widget .widget-content h3
{
    display: none;
}
#columns .widget .widget-content {
    background-color:#fff;
    overflow: hidden;
    padding: 10px;
}

.widget-head a.remove  {
    float: right;
    display: inline;
    background: url(img/buttons.gif) no-repeat -24px 0;
    width: 14px;
    height: 14px;
    margin: 8px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}

.widget-head a.edit  {
    float: right;
    display: inline;
    background: url(img/buttons.gif) no-repeat;
    width: 24px;
    height: 14px;
    text-indent: -9999em;
    margin: 8px 4px 8px 4px;
    outline: none;
}

.widget-head a.collapse  {
    float: left;
    display: inline;
    background: url(img/buttons.gif) no-repeat -52px 0;
    width: 14px;
    height: 14px;
    text-indent: -9999em;
    margin: 8px 0 8px 4px;
    outline: none;
}

#columns .widget-placeholder {
    border: 1px dashed #999;
    margin: 0px 11px 11px 11px;
}

a.customizeWidget {
    line-height:20px;
    background: url(img/icn_customize.png) no-repeat left center;
    padding:4px 0 4px 24px;
    display:inline-block;
    color:#333;
    font-size:12px; font-family:Arial, Helvetica, sans-serif;text-decoration:none
}

.bodywrapper #columns .column li .collapse {
    margin-right: 5px;
}

.bodywrapper #columns .column.last li {
    padding-right: 0px;
}
.bodywrapper #columns #column1 li {
    padding-left: 0px;
}



/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{}
#cboxTopLeft{width:25px; height:25px; background:url(colorbox/border1.png) no-repeat 0 0;}
#cboxTopCenter{height:25px; background:url(colorbox/border1.png) repeat-x 0 -50px;}
#cboxTopRight{width:25px; height:25px; background:url(colorbox/border1.png) no-repeat -25px 0;}
#cboxBottomLeft{width:25px; height:25px; background:url(colorbox/border1.png) no-repeat 0 -25px;}
#cboxBottomCenter{height:25px; background:url(colorbox/border1.png) repeat-x 0 -75px;}
#cboxBottomRight{width:25px; height:25px; background:url(colorbox/border1.png) no-repeat -25px -25px;}
#cboxMiddleLeft{width:25px; background:url(colorbox/border2.png) repeat-y 0 0;}
#cboxMiddleRight{width:25px; background:url(colorbox/border2.png) repeat-y -25px 0;}
#cboxContent{background:#fff; overflow:hidden;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:20px;}
#cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
#cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
#cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
#cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
#cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
#cboxLoadingOverlay{background:#fff url(colorbox/loading.gif) no-repeat 5px 5px;}
#cboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
/*.cboxIE6 #cboxTopLeft{background:url(colorbox/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(colorbox/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(colorbox/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(colorbox/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(colorbox/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(colorbox/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(colorbox/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(colorbox/ie6/borderMiddleRight.png);} */

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

.bodywrapper .widgetReachedMsg {
    color: red;
    padding: 0;
    margin: 0;
}